<nb-auth-block class="list-container">
  <button nbButton routerLink="/projects/add" size="small" status="primary" style="margin-left: 1rem;">
    <nb-icon icon="plus"></nb-icon>
  </button>
  <div class="projects-container">
    <nb-card accent="info" *ngFor="let p of projects" style="width: 100%; display: inline-flex; margin: 1rem;">
      <nb-card-header>
        {{ p.name }}
      </nb-card-header>
      <nb-card-body>
        <div style="display: flex;">
          <div style="margin: 0.3rem;">
            Material Cost: 30000$
          </div>
          <div style="margin: 0.3rem;">
            Labor Cost: 50000$
          </div>
          <div style="margin: 0.3rem;">
            Equipment Costs: 40000$
          </div>
          <div style="margin: 0.3rem;">
            Area: 300Mts X 200 Mts
          </div>
          <div style="margin: 0.3rem;">
            Labor Rates: 200$
          </div>
          <div style="margin: 0.3rem;">
            Indirect Costs: 4000$
          </div>
        </div>
        <div style="margin: 0.3rem;">
          Total Cost: {{30000 + 50000 + 40000 + 200 + 4000}}$
        </div>
        <p style="margin: 0.3rem;">
          {{p.description}}
        </p>
      </nb-card-body>
      <nb-card-footer>
        <a nbButton routerLink="{{'/projects/view/' + p.id}}" size="large" status="primary"
          style="margin-right: 1rem;">Open</a>
        <a nbButton routerLink="{{'/projects/edit/' + p.id}}" size="large" status="primary"
          style="margin-right: 1rem;">Edit</a>
        <a nbButton size="large" status="primary">Delete</a>
      </nb-card-footer>
    </nb-card>

  </div>
</nb-auth-block>