<nb-layout>

  <nb-layout-header fixed>
    {{ title }}!
  </nb-layout-header>

  <nb-layout-column>
    <nb-list>
      <nb-list-item *ngFor="let p of projects">
        <img src="{{p.img}}" style="height: 90px; " />
        <div style="display: inline-block;">
          {{ p.name }} <br />
          <button nbButton size="xsmall">Open</button>
        </div>
      </nb-list-item>
    </nb-list>
    
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
    Construction company
  </nb-layout-footer>

</nb-layout>
