<nb-layout>
  <nb-layout-header subheader>
    <button nbButton href="#" (click)="toggle()" status="primary">
      <nb-icon icon="home"></nb-icon>
    </button>
  </nb-layout-header>
  <nb-sidebar [state]="sideBarState">
    <a routerLink="/login" *ngIf="!isAuthenticated">Login</a>
    <nb-auth-block *ngIf="isAuthenticated">
      <nb-menu [items]="menuItems"></nb-menu>
    </nb-auth-block>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>